.jumbotron {
	background-color: green;
	color: white;
}



.btn {
	color: white;
	background-color: red;

}

footer{
	padding: 10px 10px 0 10px;
	background-color: silver;
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-empresa{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
}
.btn-empresa{

	width: 100%;
}