

<div class="container">
	<div class="row">
		<div class="col-sm">
		Primer Columna
		</div>
		<div class="col-sm">
		Segunda Columna
		</div>
		<div class="col-sm">
		Tercera Columna
		</div>
	</div>
</div>